/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('C:\\Users\\Admin\\Downloads\\download.jpg') no-repeat center center fixed; /* Replace with the correct path to your background image */
  background-size: cover;
  color: #fff;
  position: relative;
}

.logo {
  position: absolute;
  top: 5px; /* Adjust the distance from the top as needed */
  left: 35%; /* Adjust the left position as needed */
  transform: translateX(-50%);
  max-width: 30px; /* Adjust the size as needed */
  height: auto;
  border-radius: 50%; /* Make it round */
}

.container {
  max-width: 400px;
  margin: 120px auto 50px auto;
  background: linear-gradient(45deg, #FF5E7E, #D400FF);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
}

input {
  width: calc(100% - 24px);
  padding: 12px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 8px;
  transition: border-color 0.3s ease-in-out;
  background-color: #f8f8f8;
  color: #333;
}

input:focus {
  border-color: #45a049;
  outline: none;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.link a {
  color: #45a049;
  font-weight: bold;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
